Repository john-zou/coder-community, pull requests merged in 2020-07, with the labels that each got.

#64 Mock MongoDB and Compodoc
  .github/workflows/node.js.yml
  backend/README.md
  backend/package.json
  backend/src/auth/auth.service.spec.ts
  backend/src/auth/constants.ts
  backend/src/reseed-mongodb.ts
  backend/src/user/user.service.spec.ts
  backend/src/util/mock-mongo.ts
  backend/tsconfig.build.json
  backend/yarn.lock
Labels: backend, documentation, schema

#67 Setup File Storage
  backend/package.json
  backend/private/README.md
  backend/public/README.md
  backend/src/app.module.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/guards/personal.decorator.ts
  backend/src/main.ts
  backend/src/storage/README.md
  backend/src/storage/storage.module.ts
  backend/src/storage/storage.service.spec.ts
  backend/src/storage/storage.service.ts
  backend/src/upload/README.md
  backend/src/upload/upload.controller.spec.ts
  backend/src/upload/upload.controller.ts
  backend/src/upload/upload.decorator.ts
  backend/src/upload/upload.module.ts
  backend/src/upload/upload.service.spec.ts
  backend/src/upload/upload.service.ts
  backend/src/user/user.controller.ts
  backend/yarn.lock
Labels: backend, controller

#72 Save upload URLs in MongoDB; DevModule
  backend/src/app.module.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.ts
  backend/src/comments/comment.schema.ts
  backend/src/dev/README.md
  backend/src/dev/dev.controller.ts
  backend/src/dev/dev.dto.ts
  backend/src/dev/dev.module.ts
  backend/src/groups/group.schema.ts
  backend/src/messages/messages.service.spec.ts
  backend/src/posts/post.schema.ts
  backend/src/posts/posts.controller.ts
  backend/src/tags/tag.schema.ts
  backend/src/upload/upload.module.ts
  backend/src/upload/upload.service.ts
  backend/src/user/user.schema.ts
  backend/src/user/user.service.ts
  backend/src/videos/video.schema.ts
Labels: backend, service

#78 Refactor Mongoose
  backend/.eslintrc.js
  backend/.gitignore
  backend/package.json
  backend/public/profile_pics/dog1.jpg
  backend/public/profile_pics/dog2.jpg
  backend/public/profile_pics/dog3.jpg
  backend/public/profile_pics/dog4.jpg
  backend/public/profile_pics/dog5.jpg
  backend/public/profile_pics/dog6.jpg
  backend/scripts/generate-api.js
  backend/scripts/seed.ts.ignore
  backend/src/app.module.ts
  backend/src/attachments/attachment.schema.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.spec.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/constants.ts
  backend/src/auth/jwt.strategy.ts
  backend/src/comments/comment.schema.ts
  backend/src/conversations/conversation.schema.ts
  backend/src/conversations/conversations.module.ts
  backend/src/conversations/conversations.service.spec.ts
  backend/src/conversations/conversations.service.ts
  backend/src/dev/dev.controller.ts
  backend/src/dev/dev.module.ts
  backend/src/groups/group.schema.ts
  backend/src/groups/groups.module.ts
  backend/src/main.ts
  backend/src/messages/message.schema.ts
  backend/src/messages/messages.module.ts
  backend/src/messages/messages.service.spec.ts
  backend/src/messages/messages.service.ts
  backend/src/mongo.ts
  backend/src/posts/post.providers.ts
  backend/src/posts/post.schema.ts
  backend/src/posts/posts.controller.ts
  backend/src/posts/posts.module.ts
  backend/src/posts/posts.service.ts
  backend/src/secrets.ts
  backend/src/storage/storage.module.ts
  backend/src/storage/storage.service.ts
  backend/src/trending/trending.controller.spec.ts
  backend/src/trending/trending.service.spec.ts
  backend/src/upload/upload.service.spec.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.module.ts
  backend/src/user/user.schema.ts
  backend/src/user/user.service.spec.ts
  backend/src/user/user.service.ts
  backend/src/util/mock-mongo.ts
  backend/src/utils/helpers.ts
  backend/yarn.lock
Labels: backend, schema

#84 Login
  backend/README.md
  backend/package.json
  backend/scripts/generate-api.js
  backend/src/auth/README.md
  backend/src/dev/dev.controller.ts
  backend/src/main.ts
  backend/src/posts/posts.controller.ts
  backend/yarn.lock
  frontend/src/App.tsx
  frontend/src/actions/constants.ts
  frontend/src/actions/isLoggedIn.ts
  frontend/src/api-auth/fetch-container.ts
  frontend/src/api/README.md
  frontend/src/api/api.ts
  frontend/src/api/configuration.ts
  frontend/src/api/index.ts
  frontend/src/constants.ts
  frontend/src/containers/header/Header.tsx
  frontend/src/pages/experimental/Experimental.tsx
  frontend/src/pages/login/DevLogin.tsx
  frontend/src/pages/login/Logout.tsx
  frontend/src/reducers/isLoggedIn.ts
Labels: backend, controller, feature: auth, frontend

#81 Minor env-related fixes
  .github/workflows/node.js.yml
  backend/src/secrets.ts
Labels: backend

#86 GitHub Login and Using Account Info
  backend/package.json
  backend/src/auth/auth.service.ts
  backend/src/mongoModels.ts
  backend/src/user/user.service.ts
  backend/yarn.lock
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api-auth/fetch-container.ts
  frontend/src/containers/header/Header.tsx
  frontend/src/pages/login/LoginGitHub.tsx
  frontend/src/pages/login/login.ts
  frontend/yarn.lock
Labels: backend, feature: auth, feature: user, frontend, service, user interaction logic

#94 Update userSlice
  frontend/package.json
  frontend/src/actions/constants.ts
  frontend/src/actions/home.ts
  frontend/src/actions/index.ts
  frontend/src/actions/isLoggedIn.ts
  frontend/src/actions/user.ts
  frontend/src/containers/header/Header.tsx
  frontend/src/pages/create_post/Submit.tsx
  frontend/src/pages/create_post/TextPanel.tsx
  frontend/src/pages/home/Card.tsx
  frontend/src/pages/home/LeftSideBar.tsx
  frontend/src/pages/home/index.tsx
  frontend/src/pages/login/DevLogin.tsx
  frontend/src/pages/login/Logout.tsx
  frontend/src/pages/view_profile/ViewProfile.tsx
  frontend/src/reducers/userSlice.ts
  frontend/src/store/index.ts
  frontend/yarn.lock
Labels: frontend, redux integration

#100 Fix generated Dto interfaces
  backend/README.md
  backend/package.json
  backend/scripts/generate-api.js
  backend/yarn.lock
  frontend/src/api/api.ts
Labels: backend, bug

#102 Fix userSlice reducer
  backend/scripts/generate-api.js
  backend/src/groups/group.dto.ts
  backend/src/groups/group.schema.ts
  backend/src/groups/groups.controller.spec.ts
  backend/src/groups/groups.controller.ts
  backend/src/groups/groups.module.ts
  backend/src/groups/groups.service.spec.ts
  backend/src/groups/groups.service.ts
  backend/src/posts/dto/posts.dto.ts
  backend/src/posts/posts.service.ts
  backend/src/trending/initialData.dto.ts
  backend/src/user/user.service.ts
  frontend/src/App.tsx
  frontend/src/api/api.ts
  frontend/src/pages/common/Avatar.tsx
  frontend/src/pages/common/ErrorPage.tsx
  frontend/src/pages/group/index.tsx
  frontend/src/pages/home/GroupList.tsx
  frontend/src/pages/home/LeftSideBar.tsx
  frontend/src/pages/home/Main.tsx
  frontend/src/pages/home/RightSideBar.tsx
  frontend/src/pages/home/index.tsx
  frontend/src/pages/post_detail/index.tsx
  frontend/src/reducers/groupsSlice.ts
  frontend/src/reducers/rootReducer.ts
  frontend/src/reducers/userSlice.ts
  frontend/src/store/types.ts
Labels: bug

#104 Post details
  backend/src/posts/dto/posts.dto.ts
  backend/src/posts/posts.controller.ts
  backend/src/posts/posts.service.ts
  frontend/src/api/api.ts
  frontend/src/reducers/postsSlice.ts
Labels: backend, controller, redux integration, service

#98 Minor: Fix broken test
  backend/src/auth/auth.service.spec.ts
Labels: bug

#106 Hook up Post Details Component to Redux
  backend/src/main.ts
  backend/src/posts/dto/posts.dto.ts
  backend/src/posts/posts.controller.ts
  backend/src/posts/posts.module.ts
  backend/src/posts/posts.service.ts
  backend/src/user/user.module.ts
  frontend/package.json
  frontend/src/api/api.ts
  frontend/src/hooks/useLikePost.ts
  frontend/src/index.tsx
  frontend/src/pages/home/Card.tsx
  frontend/src/pages/post_detail/index.tsx
  frontend/src/reducers/postsSlice.ts
  frontend/src/reducers/userSlice.ts
  frontend/src/reducers/usersSlice.ts
  frontend/yarn.lock
Labels: feature: posts, frontend, redux integration

#111 Fetch Posts by Tag; Like/Unlike/Save Post
  backend/package.json
  backend/src/groups/groups.controller.spec.ts
  backend/src/posts/dto/posts.dto.ts
  backend/src/posts/post.schema.ts
  backend/src/posts/posts.controller.ts
  backend/src/posts/posts.service.ts
  backend/src/secrets.ts
  backend/src/tags/tag.dto.ts
  backend/src/tags/tag.schema.ts
  backend/src/tags/tags.controller.spec.ts
  backend/src/tags/tags.controller.ts
  backend/src/tags/tags.dto.ts
  backend/src/tags/tags.service.spec.ts
  backend/src/tags/tags.service.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.service.ts
  backend/src/util/helperFunctions.ts
  backend/src/util/mock-mongo.ts
  backend/yarn.lock
  frontend/src/App.tsx
  frontend/src/api/api.ts
  frontend/src/containers/header/Header.tsx
  frontend/src/pages/home/index.tsx
  frontend/src/pages/login/LoginGitHub.tsx
  frontend/src/pages/login/Logout.tsx
  frontend/src/reducers/isLoggedInSlice.ts
  frontend/src/reducers/postsSlice.ts
  frontend/src/reducers/tagsSlice.ts
  frontend/src/reducers/userSlice.ts
  frontend/src/store/types.ts
Labels: backend, controller, feature: posts, frontend, redux integration, service

#116 File (Image, Video) Upload Related Fixes
  backend/src/main.ts
  backend/src/mongoModels.ts
  backend/src/storage/README.md
  backend/src/storage/initializeStorageDirectories.ts
  backend/src/storage/storage.constants.ts
  backend/src/upload/README.md
  backend/src/upload/multer-file-filter.ts
  backend/src/upload/upload.controller.spec.ts
  backend/src/upload/upload.controller.ts
  backend/src/upload/upload.dto.ts
  backend/src/upload/upload.service.spec.ts
  frontend/src/api-upload/index.ts
  frontend/src/api/api.ts
  frontend/src/pages/group/CreateGroupForm.tsx
Labels: backend, frontend

#126 View Profile
  backend/src/posts/posts.controller.ts
  backend/src/posts/posts.service.ts
  backend/src/util/helperFunctions.ts
  frontend/src/api/api.ts
  frontend/src/hooks/useLikePost.ts
  frontend/src/pages/common/Avatar.tsx
  frontend/src/pages/home/Card.tsx
  frontend/src/pages/post_detail/index.tsx
  frontend/src/pages/view_profile/OtherPostsBoard.tsx
  frontend/src/pages/view_profile/OtherProfile.tsx
  frontend/src/pages/view_profile/OwnPostsBoard.tsx
  frontend/src/pages/view_profile/OwnProfile.tsx
  frontend/src/pages/view_profile/ProfileBanner.tsx
  frontend/src/pages/view_profile/ProfileCard.tsx
  frontend/src/pages/view_profile/TradingCard.tsx
  frontend/src/pages/view_profile/ViewProfile.tsx
  frontend/src/reducers/postsSlice.ts
  frontend/src/reducers/usersSlice.ts
Labels: frontend

#142 Basic Search for Posts
  backend/src/app.module.ts
  backend/src/mongoModels.ts
  backend/src/posts/post.schema.ts
  backend/src/search/search.controller.ts
  backend/src/search/search.dto.ts
  backend/src/search/search.module.ts
  backend/src/search/search.service.spec.ts
  backend/src/search/search.service.ts
  frontend/src/App.tsx
  frontend/src/api/api.ts
  frontend/src/containers/header/Header.tsx
  frontend/src/pages/login/LoginGitHub.tsx
  frontend/src/pages/search/Search.tsx
  frontend/src/pages/search/SearchHomePage.tsx
  frontend/src/pages/search/SearchPage.tsx
  frontend/src/pages/view_profile/OwnProfile.tsx
  frontend/src/reducers/postsSlice.ts
  frontend/src/reducers/search.ts
Labels: backend, feature: search, frontend

#140 Increment view count
  backend/src/posts/posts.controller.ts
  backend/src/posts/posts.service.ts
  frontend/src/api/api.ts
  frontend/src/pages/post_detail/index.tsx
Labels: backend, feature: posts

#139 Misc User and User Profile Changes
  backend/src/user/user.controller.ts
  backend/src/user/user.service.ts
  frontend/src/api/api.ts
  frontend/src/hooks/useFollow.ts
  frontend/src/index.tsx
  frontend/src/pages/view_profile/OtherProfile.tsx
  frontend/src/pages/view_profile/TradingCard.tsx
  frontend/src/reducers/userSlice.ts
  frontend/src/store/types.ts
Labels: backend, bug, feature: user, frontend

#146 PersonalWs decorator (auth for WebSockets)
  backend/package.json
  backend/src/app.module.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/guards/personal-ws.decorator.ts
  backend/src/auth/guards/user-ws.guard.ts
  backend/src/user/user-object-id.decorator.ts
  backend/yarn.lock
Labels: backend, feature: auth
